books.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- Internal DTD-->
<!ELEMENT books(book)*
<!ELEMENT book (title,author,genre,copyright,edition,isbn-no,publisher,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author(#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT copyright (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT isbn-no (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT price (#PCDATA)>
